<html>
<body>

<style>
p {
    background-color: #4169E1
}
body {
    background-color: lightgrey
}
</style>

<img src="d.png"  alt="not found" style="width:1550px;height:450px;">

<h1  style="font-size:40px;" style="color:white;">SHARK@JNU</h1>
<img src="ab.gif" alt="not found"  align="right" style="width:300px;height:300px;">
<p style="color:white;">Shark@JNU is a demo application which provides a platform for customers to find the number of sims linked to the account number.Department of Telecommunication can also use this to search a particular aadhar number and can see the number of mobile numbers attached to that particular aadhar number. Telecom service providers will use the application to add entry to database of particular mobile number which is going to be linked. Our support team will do the registration of Telecom service providers and Department of Telecommunication professional for security purposes.</p>
</body>
</html>