<html>
<body>
<br><font size="5">
<a href="https://app.despairing12.hasura-app.io/aadhar_entry">Aadhar DataEntry</a><br>

<a href="https://app.despairing12.hasura-app.io/TSP0">TSP0</a>(Aryan)(12)<br><br>

    <a href="https://app.despairing12.hasura-app.io/TSP1">TSP1</a>(Ajay)(13)<br><br>
    <a href="https://app.despairing12.hasura-app.io/TSP2">TSP2</a>(Sneha)(15)<br><br>
    <a href="https://app.despairing12.hasura-app.io/TSP3">TSP3</a>(Subhash)(15)<br>
</font>
<p>
    each one must enter almost 30 entries from provided aadhar number


</p>
</body>
</html>