<html>
<body>
<br><font size="7">
<a href="https://app.despairing12.hasura-app.io/aadhar_entry">Aadhar DataEntry</a><br>

<a href="https://app.despairing12.hasura-app.io/TSP0">TSP0(Aryan)(12)</a><br>

    <a href="https://app.despairing12.hasura-app.io/TSP1">TSP1(Ajay)(13)</a><br>
    <a href="https://app.despairing12.hasura-app.io/TSP1">TSP1(Sneha)(14)</a><br>
    <a href="https://app.despairing12.hasura-app.io/TSP1">TSP1(Subhash)(15)</a>
</font>
<p>
    each one must enter almost 30 entries from provided aadhar number


</p>
</body>
</html>