<html><!-- #BeginTemplate "/Templates/template.dwt" -->
<head>
<!-- #BeginEditable "doctitle" --> 
<title>Government Template1</title>
<!-- #EndEditable -->
<meta http-equiv="Content-Type" content="text/html;">
<script language="JavaScript">
<!--
function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
 var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
   var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
   if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && document.getElementById) x=document.getElementById(n); return x;
}
//-->
</script>
<link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body bgcolor="#ffffff" onLoad="MM_preloadImages('images/button1_f2.jpg','images/button2_f2.jpg','images/button3_f2.jpg','images/button4_f2.jpg')" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
  <tr> 
    <td height="20" valign="middle" background="images/menufill.jpg" nowrap class="menutext">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="menutext">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="#" class="menutext">About Us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="menutext">News</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="menutext">Events</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="menutext">Academic 
      Program</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="menutext">Contact 
      Us</a> </td>
  </tr>
  <tr> 
    <td height="131" valign="top"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%" background="images/headerfill.jpg">
        <tr> 
          <td valign="top" width="371"><img name="graphic1" src="images/graphic1.jpg" width="371" height="131" border="0" alt="military" longdesc="graphic1.html"></td>
          <td align="right" valign="top" width="60%"><img name="companyname" src="images/companyname.jpg" width="312" height="131" border="0" alt="flag" longdesc="companyname.html"></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td height="68%" valign="top"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
        <tr> 
          <td valign="top" width="87%" height="413">
            <table width="100%" border="0" cellspacing="0" cellpadding="27" height="100%">
              <tr> 
                <td valign="top" class="text"> <!-- #BeginEditable "content" -->
                  <p>Entheos offers professional web templates at affordable 
                    prices. Choose from a variety of high quality website designs 
                    to find the perfect template for your line of business. <a href="http://www.entheosweb.com/website_templates/default.asp">More 
                    Templates from Entheosweb.com </a></p>
                  <span class="title">5 Reasons to Order Entheos Web Templates</span> 
                  <ul class = "bullet">
                    <li>Choose from a wide variety of high quality layouts</li>
                    <li>Save Time And costs by buying ready-made Professional 
                      web templates at unbelievable prices </li>
                    <li>Customize templates for only <span class="title">$99.95</span></li>
                    <li>Each template is designed with eye-catching graphics and 
                      smart color combinations</li>
                  </ul>
                  <p> <span class="title">Each web template includes:</span></p>
                  <ul class="bullet">
                    <li> The Fireworks source file (.png file) </li>
                    <li>The Dreamweaver web template (.dwt file) <br>
                    </li>
                    <li>A style sheet (.css file) <br>
                    </li>
                    <li>The fonts used in the layout <br>
                    </li>
                    <li>All images used in the template </li>
                  </ul>
                  <!-- #EndEditable --></td>
              </tr>
            </table>
          </td>
          <td width="155" valign="top" bgcolor="#E3E6E5"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
              <tr> 
                <td valign="top" height="138"><img name="graphic2" src="images/graphic2.jpg" width="155" height="138" border="0" alt="jet" longdesc="graphic2.html"></td>
              </tr>
              <tr> 
                <td valign="top" height="70%"><a href="#" onMouseOut="MM_swapImgRestore()"  onMouseOver="MM_swapImage('button1','','images/button1_f2.jpg',1)" ><img name="button1" src="images/button1.jpg" width="155" height="34" border="0" alt="mission" longdesc="button1.html"></a><br>
                  <a href="#" onMouseOut="MM_swapImgRestore()"  onMouseOver="MM_swapImage('button2','','images/button2_f2.jpg',1)" ><img name="button2" src="images/button2.jpg" width="155" height="25" border="0" alt="admissions" longdesc="button2.html"><br>
                  </a><a href="#" onMouseOut="MM_swapImgRestore()"  onMouseOver="MM_swapImage('button3','','images/button3_f2.jpg',1)" ><img name="button3" src="images/button3.jpg" width="155" height="21" border="0" alt="cadet_life" longdesc="button3.html"><br>
                  </a><a href="#" onMouseOut="MM_swapImgRestore()"  onMouseOver="MM_swapImage('button4','','images/button4_f2.jpg',1)" ><img name="button4" src="images/button4.jpg" width="155" height="24" border="0" alt="more_news" longdesc="button4.html"></a> 
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td height="55" valign="top" background="images/footerfill.jpg"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="5" height="100%">
        <tr> 
          <td valign="top" class="text" align="center"> <a href="#" class="text">Home</a> 
            | <a href="#" class="text">About Us</a> | <a href="#" class="text">News</a> 
            | <a href="#" class="text">Events</a> | <a href="#" class="text">Academic 
            Program</a> | <a href="#" class="text">Mission</a> | <a href="#" class="text">Admission</a> 
            | <a href="#" class="text">Cadet Life</a> | <a href="#" class="text">More 
            News</a> | <a href="#" class="text">Contact Us</a><br>
            Copyright &copy; www.YourSiteName.com. All Rights Reserved. Designed 
              by <a href="http://www.entheosweb.com/" target="_blank"><span  class="footer">Entheosweb.com </span></a>            </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
<!-- #EndTemplate --></html>
