<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Shark@JNU</title>
</head>
<style>
html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
    .navbar {
        background-color: #0f3f6a;

        margin-top: 0;
    }

    a {
        color: white;
    }

    #img2 {
        margin-top: 10px;
    }

    #leftnav {
        float: left !important;
        overflow-x: hidden;
    }

    .footer-copyright {
        background-color: black;
        font-size: 20px;
    }

</style>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <img src="/static/Images/JNU1.png" class="pull-left img-responsive" alt="NO image">
            </div>
            <div class="col-lg-6" id="img2">
                <img src="/static/Images/DOT.jpg" class="pull-right img-responsive" alt="NO image">
            </div>
        </div>
    </div>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://app.despairing12.hasura-app.io/">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">UIDAI
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">DOT
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">FAQs
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Contact Us
                        </a>

                    </li>
                    <li class="dropdown" id="leftnav">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">About Us
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="https://app.despairing12.hasura-app.io/consumer">Consumer</a>
                            </li>
                            <li>
                                <a href="https://app.despairing12.hasura-app.io/login_DOT">DOT</a>
                            </li>
                            <li>
                                <a href="https://app.despairing12.hasura-app.io/login_TSP">TSP</a>
                            </li>
                            <li>
                                <a href="#">Support</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid" id="banner">
        <img src="/static/Images/55.jpeg" alt="1234" class="img-responsive" width="100%" height="auto">
    </div>
    <div>
    <marquee height="10%" bgcolor="red" width="100%">Shark@JNU welcomes You</marquee>Total Visit:: 10023

    </div>
        <div class="containerer-fluid">
        <div class="row">
            <div class="col-sm-10" style="background-color:lavender;overflow-x: hidden;"><br><br><br><br>BODY<br><br><br><br><br><br></div>
            <div class="col-sm-2" style="background-color:lavenderblush;overflow-x: hidden;"><a href="#"><img src="/static/Images/faqs.jpg" alt="1234" class="img-responsive" width="100%" height="auto"></a></div>
        </div>
    </div>
    <footer class="page-footer font-small unique-color-dark pt-0">
        <div class="footer-copyright py-3 text-center">
            © 2018 Copyright:
            <a href="#"><strong> JNU@shark.com</strong>
            </a>
        </div>
    </footer>

  <script type="text/javascript">
        {% if logout %}
        alert("{{logout}}");
            {% set logout=None %}
               {% endif %}


</script>
</body>
</html>