<html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/Aadhaar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Shark@JNU</title>
</head>
<body>

 <img src="/static/Images/logo.jpg" alt="FAQs" width="100%" height="auto">
<!--<div class="col-sm-2" id="box" style="background-color:lavenderblush;overflow-x: hidden; height:auto;">
-->

 <div style="background-color:#6e6e45;">
<pr><b>NOTE: </b><font color="white">This is demo application to check registered mobile with aadhar for DOT, TSP and Consumer</font> </pr>
</div><br>
     <a href="">
<img src="/static/Images/faqs.jpg" alt="FAQs" width="100%" height="auto"></a>
</body>
</html>