<html><!-- #BeginTemplate "/Templates/template.dwt" --><!-- DW6 -->
<head>
<!-- #BeginEditable "doctitle" --> 
<title>Government Template 3</title>
<!-- #EndEditable -->
<meta http-equiv="Content-Type" content="text/html;">
<!-- Fireworks 4.0  Dreamweaver 4.0 target.  Created Mon Jan 31 10:05:52 GMT+0530 (India Standard Time) 2005-->
<script language="JavaScript">
<!--
function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
 var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
   var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
   if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}
//-->
</script>
<link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body bgcolor="#ffffff" onLoad="MM_preloadImages('static/image/link1_f2.jpg','static/image/link2_f2.jpg','static/image/link3_f2.jpg','static/image/link4_f2.jpg','static/image/link5_f2.jpg','static/image/link6_f2.jpg')" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" link="#CCCC66" vlink="#000000">
<table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
  <tr> 
    <td height="181" valign="top"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" height="181">
        <tr valign="top"> 
          <td height="181" bgcolor="#009999" align="left" valign="top" width="178"><img src="static/image/flags.jpg" width="178" height="181"></td>
          <td width="100%" height="179"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0" height="183">
              <tr> 
                <td align="left" background="static/image/head-right-bg.jpg" height="83" valign="bottom"><img src="static/image/companyname.jpg" width="602" height="87"></td>
              </tr>
              <tr> 
                <td align="left" bgcolor="#009999" valign="middle" height="98"><img name="layout_r4_c4" src="static/image/layout_r4_c4.jpg" width="147" height="98" border="0"><img name="image2" src="static/image/image2.jpg" width="150" height="98" border="0"><img name="image3" src="static/image/image3.jpg" width="152" height="98" border="0"><img name="image4" src="static/image/image4.jpg" width="150" height="98" border="0"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td valign="top"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td valign="top"> 
            <table border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td valign="top" align="left"><img src="static/image/building.jpg" width="238" height="137"></td>
              </tr>
              <tr> 
                <td valign="top"> 
                  <table border="0" cellspacing="0" cellpadding="10">
                    <tr valign="top"> 
                      <td background="static/image/left-bg.jpg">&nbsp;</td>
                      <td align="right" background="static/image/left-bg.jpg">
                        <table width="67%" border="0" cellspacing="0" cellpadding="10">
                          <tr> 
                            <td align="right"><a href="#" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('img-1','','static/image/link1_f2.jpg',1)"><img name="img-1" border="0" src="static/image/link1.jpg" width="98" height="21"></a></td>
                          </tr>
                          <tr> 
                            <td align="right"><a href="#" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('img2','','static/image/link2_f2.jpg',1)"><img name="img2" border="0" src="static/image/link2.jpg" width="98" height="21"></a></td>
                          </tr>
                          <tr> 
                            <td align="right"><a href="#" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('img-3','','static/image/link3_f2.jpg',1)"><img name="img-3" border="0" src="images/link3.jpg" width="98" height="21"></a></td>
                          </tr>
                          <tr> 
                            <td> 
                              <div align="right"><a href="#" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('img4','','static/image/link4_f2.jpg',1)"><img name="img4" border="0" src="images/link4.jpg" width="98" height="21"></a></div>
                            </td>
                          </tr>
                          <tr> 
                            <td> 
                              <div align="right"><a href="#" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image70','','static/image/lin00_f2.jpg',1)"><img name="Image70" border="0" src="images/link5.jpg" width="98" height="21"></a></div>
                            </td>
                          </tr>
                          <tr> 
                            <td> 
                              <div align="right"><a href="#" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('img6','','static/image/link6_f2.jpg',1)"><img name="img6" border="0" src="images/link6.jpg" width="98" height="21"></a></div>
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td>&nbsp;</td>
                    </tr>
                  </table>
                </td>
              </tr>
          </table>          </td>
          <td width="100%" valign="top" align="left" height="100%"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="20">
              <tr> 
                <td valign="top" align="left" class="content"><!-- #BeginEditable "content" -->
                  <p class="title">High Quality Web Templates Designed by Entheosweb.com 
                  </p>
                  <p class="content"><span class="content">Entheos offers professional 
                    web templates at affordable prices. Choose from a variety 
                    of high quality website designs to find the perfect template 
                    for your line of business. <a href="http://www.entheosweb.com/website_templates/default.asp" target="_blank">More 
                    Templates from Entheosweb.com</a> </span></p>
                  <p class="subtitle">Features of this template: </p>
                  <ul class="content">
                    <li class="bullets"> <span class="bullets">Fast-loading</span></li>
                    <li class="bullets"><span class="bullets">Text Link Rollovers 
                    </span></li>
                    <li class="bullets"><span class="bullets">Smart Color Combination 
                      </span></li>
                    <li class="bullets"><span class="bullets">Browser Compatible</span></li>
                    <li class="bullets"><span class="bullets">Designed to fit 
                      all resolutions (600 x 800 and higher)</span></li>
                  </ul>
                  <p><span class="bullets"><a href="http://www.entheosweb.com/website_templates/customizing.asp" target="_blank"></a></span><a href="http://www.entheosweb.com/website_templates/customizing.asp" target="_blank">Customize 
                    this template for only $99.95. </a></p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                <!-- #EndEditable --></td>
              </tr>
            </table>
            <p class="subtitle">&nbsp;</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td bgcolor="#009999" height="14" valign="middle" class="footer"> 
      <div align="center">All Rights Reserved. Copyright &copy; www.YourSiteName.com. 
        Designed by <a href="http://www.entheosweb.com" class="footer" target="_blank">www.entheosweb.com</a></div>
    </td>
  </tr>
</table>
</body>
<!-- #EndTemplate --></html>
