<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <link rel="stylesheet" type="text/css" href="static/credit.css" />

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Shark@JNU</title>
</head>
<style>
    .navbar {
        background-color: #0f3f6a;

        margin-top: 0;
    }

    a {
        color: white;
    }

    #img2 {
        margin-top: 10px;
    }

    #leftnav {
        float: left !important;
    }

    .footer-copyright {
        background-color: black;
        font-size: 20px;
    }
    #banner{
        border-bottom-style: solid;
        border-bottom-color: red;
        border-width: 10px;
    }
    input[type=submit] {
    border-radius: 5px;
    border: 1;
    width: 120px;
    height:25px;
    font-family: Tahoma;
    background: #66ff33;

}
</style>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <img src="/static/Images/JNU1.png" class="pull-left img-responsive" alt="NO image">
            </div>
            <div class="col-lg-6" id="img2">
                <img src="/static/Images/DOT.jpg" class="pull-right img-responsive" alt="NO image">
            </div>
        </div>
    </div>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">UIDAI
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">DOT
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">FAQs
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Contact Us
                        </a>

                    </li>
                    <li class="dropdown" id="leftnav">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">About Us
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Consumer</a>
                            </li>
                            <li>
                                <a href="https://app.despairing12.hasura-app.io/login_DOT">DOT</a>
                            </li>
                            <li>
                                <a href="https://app.despairing12.hasura-app.io/login_TSP">TSP</a>
                            </li>
                            <li>
                                <a href="#">Support</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid" id="banner">
        <img src="/static/Images/55.jpeg" alt="1234" class="img-responsive" width="100%" height="auto">
    </div>
    <marquee height="10%" bgcolor="red" width="100%">Shark@JNU welcomes You</marquee>
    <div class="containerer-fluid">
        <div class="row">
            <div class="col-sm-10" style="background-color:lavender;">

              <div class="container-fluid">
          <div class="box">
            <center><form action="https://app.despairing12.hasura-app.io/consumer/login_otp" method="post">
          <h1>Enter Your Aadhaar Number:</h1>
              <input type="text" name="aadhar" class="credit" required>{%if message %}<font color="red">{{message}}{%set message='' %}</font>{%endif%}
            <br>
             <input type="submit" value="Get OTP">
          </form>
              <br>
              <font color="red">NOTE:</font> An OTP will be sent to Registered Mobile number with Aadhar card for verification.<br>
              If not registered mobile no. with aadhar <a href="https://uidai.gov.in/" style="text-decoration:none;color=blue; text-color:blue;"target="_blank">click here</a>
              <br><br><br>
            </center>
          </div>
    </div>

            </div>
            <div class="col-sm-2" style="background-color:lavenderblush;"><a href="#"><img src="/static/Images/faqs.jpg" alt="1234" class="img-responsive" width="100%" height="auto"></a></div>
        </div>
        </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="static/credit.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $(".credit").credit();
        });
    </script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') +
                '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <footer class="page-footer font-small unique-color-dark pt-0">
        <div class="footer-copyright py-3 text-center">
            © 2018 Copyright:
            <a href="#"><strong> JNU@shark.com</strong>
            </a>
        </div>
    </footer>
</body>
</html>